html,body{
  margin: 0;
  padding: 0;
  background: rgb(8, 15, 40);
}
h1{
  margin: 0;
}
.container{
  background: rgb(8, 15, 40);
  width: 100%;
  height: 100%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.container__title{
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.grid_container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  box-sizing: content-box;
}
.child_grid{
  padding:  0 20px;
  text-align: center;
}
.container__descripcion{
  font-size: 15px;
  color: gray;
  padding: 0em 6em 2em 6em;
  text-align: center;
}
.container_video{
  display: grid;
  align-items: center;
  justify-content: center;
  padding-bottom: 10%;
}

.video{
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
}
.boton{
  position: absolute;
  width: 10em;
  height: 10em;
  top: 35%;
  left: 40%;
  background-image: url('img/botonplay.png'); /* Ruta de tu imagen de fondo */
  background-size: cover;
  background-position: center;
  z-index: 31110;
  cursor: pointer;
}
@media screen and (max-width: 1760px) {
  .grid_container{
    grid-template-columns: auto auto auto;
  }
}
@media screen and (max-width: 1319px) {
  .grid_container{
    grid-template-columns: auto auto;
  }
  .container{
    height: 100%;
    padding-bottom: 3em;
  }
}
@media screen and (max-width: 879px) {
  .grid_container{
    grid-template-columns: auto;
  }
  .container{
    height: 100%;
    padding-bottom: 3em;
  }
}